body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353535;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  width: 100%;
  height: 80px;
  background-color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a{
  text-decoration: none;
  color: azure;
  font-size: 1.6em;
  margin-left: 20px;
}
.navbar button{
  height: 40px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius:8px;
  font-size: 1.4em;
  padding-right:5px;

}
.navbar .logo{
  color: white;
  font-weight: bold;
  font-size: 3em;
  padding-left: 5px;
  
}

.cards {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  padding: 3rem;
  
  }
  .card {
    background-color: #fff;
    border: 3px solid black;
    margin: auto;
    border-radius: 20px;
    padding: .5rem;
    align-items: center; 
    color:black;
    align-items: center;
    text-align: center;
    
    
    }

    .card img {
      border: 3px solid black;
      background-size: cover;
      border-radius: 20px;
      height: 200px;
   }

   .card button{
    border: 3px solid black ;
    border-radius: 5px;
    background-color:black;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    margin: 6px 0px;
   }
   .card button:hover{
    background-color: white;
    border: 3px solid black;
    color: black;
    transition: .5s;;
   }
   .card .info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
   }

.create{
  
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
.create label {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: auto 1fr;
}